@model EmployeeListViewModel

@*@foreach (var item in Model.Employees)
{
    <section style="width:40%;margin:auto;">
        <h2>Name : @item.Firstname</h2>
        <h2>Surname : @item.Lastname</h2>
        <h2>Point : @item.Point</h2>
        <a asp-action="Update" asp-controller="Employee" asp-route-myid="@item.Id">Update</a>

        <hr/>
    </section>
}*@

<employee-list count="4" sort="z-a"></employee-list>

<a href="employee/add">Add new Employee</a>
<hr />